@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  .inner {
    width: 1400px;
  }
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .click-box {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .m-center {
    margin: 0 auto;
  }

  .bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    opacity: 0.3;
  }
}

@layer components {
  .page-title {
    margin: 100px 0 50px;
    font-size: 32px;
    font-weight: 500;
  }

  .card-item {
    position: relative;
    padding: 20px;
    border: 1px solid rgba(var(--foreground-rgb), 0.1);
    background: rgba(var(--foreground-rgb), 0.03);
    border-radius: 5px;
  }

  .card-item > figure {
    position: relative;
    width: 80px;
    height: 80px;
  }

  .card-item > figure img {
    object-fit: cover;
  }

  .card-item > div {
    width: calc(100% - 100px);
  }

  .not-found {
    height: calc(100vh - var(--header-height));
  }

  .champ-image {
    position: relative;
    width: 300px;
    aspect-ratio: 1/1.8;
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: left 40% top 20%;
    border-radius: 10px;
  }

  .champ-info {
    width: calc(100% - 350px);
    padding-top: 30px;
  }

  .skills > li {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 3px;
    background-size: 100%;
  }

  .skills .skil-hover {
    position: absolute;
    width: 300px;
    padding: 20px;
    background: rgb(var(--foreground-rgb));
    color: rgb(var(--background-rgb));
  }

  .modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }

  .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    width: 1000px;
    max-width: 90%;
    padding: 40px 30px;
  }

  .modal-content .close {
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .modal-skin-img {
    position: relative;
    width: 100%;
    aspect-ratio: 1.69456/1;
  }
}

:root {
  --foreground-rgb: 21, 21, 21;
  --background-rgb: 255, 255, 255;
  --header-height: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 21, 21, 21;
    --background-end-rgb: 0, 0, 0;
  }
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 21, 21, 21;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

header {
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: rgb(var(--background-rgb));
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
}

header .inner {
  height: inherit;
}

header h1 a {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  white-space: nowrap;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
}

header h1 svg {
  fill: rgb(var(--foreground-rgb));
}

main {
  padding-top: var(--header-height);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
