@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  .inner {
    width: 1400px;
  }
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .click-box {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .m-center {
    margin: 0 auto;
  }

  .bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    opacity: 0.3;
  }

  .exclude-header {
    height: calc(100vh - var(--header-height));
  }
}

@layer components {
  .intro-title {
    transform: translateY(-30px);
  }
  .intro-title img {
    display: inline-block;
  }

  .intro-layout {
    display: flex;
    width: 1125px;
  }

  .intro-layout > li {
    flex: 1;
    position: relative;
    height: 450px;
  }

  .intro-layout > li img {
    object-fit: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transition: 0.3s;
  }

  .intro-layout > li a {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }

  .intro-layout > li:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
  }

  .intro-layout > li a:hover {
    background: rgba(0, 0, 0, 0.2);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }

  .page-title {
    margin: 100px 0 50px;
    font-size: 32px;
    font-weight: 500;
  }

  .card-item {
    position: relative;
    padding: 20px;
    border: 1px solid rgba(var(--foreground-rgb), 0.1);
    background: rgba(var(--foreground-rgb), 0.03);
    border-radius: 5px;
  }

  .card-item > figure {
    position: relative;
    width: 80px;
    height: 80px;
  }

  .card-item > figure img {
    object-fit: cover;
  }

  .card-item > div {
    width: calc(100% - 100px);
  }

  .champ-image {
    position: relative;
    width: 300px;
    aspect-ratio: 1/1.8;
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: left 40% top 20%;
    border-radius: 10px;
  }

  .champ-info {
    width: calc(100% - 350px);
    padding-top: 30px;
  }

  .skills > li {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    background-size: 100%;
  }

  .skills > li .keyboard {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 22px;
    padding: 4px 0 2px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 5px 0 5px 0;
    text-align: center;
    font-weight: 500;
    line-height: 1;
  }

  .skills > li:nth-child(1) .keyboard {
    color: #0093ff;
  }
  .skills > li:nth-child(2) .keyboard {
    color: #00d2eb;
  }
  .skills > li:nth-child(3) .keyboard {
    color: #00e7ba;
  }
  .skills > li:nth-child(4) .keyboard {
    color: #92f489;
  }
  .skills > li:nth-child(5) .keyboard {
    color: #f9f871;
  }

  .skills li .skill-hover {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    z-index: 99;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background: rgba(var(--foreground-rgb), 0.9);
    color: rgb(var(--background-rgb));
    word-break: keep-all;
  }

  .skills li:hover .skill-hover {
    display: block;
  }

  .modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }

  .modal-content {
    min-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 90%;
    padding: 40px 30px;
  }

  .modal-content .close {
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .modal-skin-img {
    position: relative;
    width: 100%;
    aspect-ratio: 1.69456/1;
  }

  .modal-skill-img {
    position: relative;
    width: 100px;
    aspect-ratio: 1/1;
  }

  .skill-info {
    width: calc(100% - 140px);
  }

  .skill-option {
    margin-top: 20px;
    width: 90%;
  }

  .skill-option > li {
    width: 50%;
    margin-top: 10px;
  }
  .skill-option b {
    display: block;
    margin-right: 10px;
  }

  .champ-stats {
    width: 300px;
  }

  .stats-bar li {
    width: 100%;
    display: flex;
    margin-top: 8px;
  }

  .stats-bar b {
    display: block;
    width: 55px;
  }
  .stats-bar .bar {
    position: relative;
    width: calc(100% - 55px);
  }
  .stats-bar .bar-fill {
    position: relative;
    height: 100%;
    background: #fff;
  }

  /* .stats-bar .bar::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.1),
      transparent
    );
  } */

  .slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1.5);
  }
  .slide-arrow.prev {
    left: -3%;
  }
  .slide-arrow.next {
    right: -3%;
  }
}

:root {
  --foreground-rgb: 21, 21, 21;
  --background-rgb: 255, 255, 255;
  --header-height: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 21, 21, 21;
    --background-end-rgb: 0, 0, 0;
  }
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 21, 21, 21;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

header {
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: rgb(var(--background-rgb));
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
}

header .inner {
  height: inherit;
}

header h1 a {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  white-space: nowrap;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
}

header h1 svg {
  fill: rgb(var(--foreground-rgb));
}

main {
  padding-top: var(--header-height);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
