@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 51, 51, 51;
  --background-end-rgb: 255, 255, 255;
  --header-height: 80px;
}

@layer base {
}

@layer utilities {
  .inner {
    width: 1400px;
  }
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .click-box {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .m-center {
    margin: 0 auto;
  }
}

@layer components {
  .page-title {
    margin: 100px 0 50px;
    text-align: center;
    font-size: 36px;
  }

  .card-item {
    position: relative;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
  }

  .card-item > figure {
    position: relative;
    width: 80px;
    height: 80px;
  }

  .card-item > div {
    width: calc(100% - 100px);
  }

  .not-found {
    height: calc(100vh - var(--header-height));
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

header {
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

header .inner {
  height: inherit;
}

main {
  padding-top: var(--header-height);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
